{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Operating Rooms</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "main.css" %}'>
    <script src='main.js'></script>
    <style>
@font-face {
    font-family: TrajanProRegularFont;
    src: url(static/TrajanProRegular.ttf);
}

body {
    font-family: TrajanProRegularFont;
}

.trajan-font {
    font-family: TrajanProRegularFont;
}
</style>
</head>
<body>

<h2 class="bolder header m0-auto" style="text-align:center;">590 Fifth Avenue Surgical Suites</h2>
<div class="border-container">
    <div class="table info">
        {% for room in object_list %}
        <div class="table-cell title noRborder" style="outline: transparent;">
            <h3 class="bolder header m0-auto ">
                {{room}}
            </h3>
        </div>
        <div class="table-cell">
            <p>
                {{room.text_input_1}}
            </p>
        </div>
        <div class="table-cell">
            <p>
                {{room.text_input_2}}
            </p>
        </div>
        <div class="table-cell noRborder">
            <p>
                {{room.text_input_2}}
            </p>
        </div>
        {% endfor %}

    </div>
</div>
</body>
<script type="text/javascript">
let intervalID = window.setInterval(checkData, 5000);
    document.addEventListener("DOMContentLoaded", function() {
});
async function checkData(){
    const response = await fetch(`http://localhost:8000/save-data/?key=has_consulting_rooms_changed`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const jsonResponse = await response.json();
      if(jsonResponse.data_changed) {
        location.reload();
      }
  }

</script>
</html>